__pycache__/                                                                                   
  *.pyc                                                                                          
  dist/                                                                                          
  models/                                                                                        
  *.onnx                                                                                         
  *.exe                                                                          